<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<h1>Bookers</h1>
<p>書籍の登録、感想投稿ができます</p>
<a href="/books">start</a>
</body>
</html>