// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}


a {
  text-decoration: none;
  color: #000; /* 黒色に設定 */
}

a:hover {
  text-decoration: underline;
}

.flash {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.flash-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
a{
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #0056b3;
}